@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

/*GLOBAL STYLES*/
body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    line-height: 1.5;
    font-size: 12px;
}

.color-trek-red {color: #df0000;}
.bgcolor-trek-red {background-color:  #df0000;text-align: center;/* margin-top: -14%; *//* position: relative; */display: none;}
.color-trek-gold {color: #f2c300;}
.bgcolor-trek-gold {background-color: #f2c300;}
.color-trek-blue {color: #0099f6;}
.bgcolor-trek-blue {background-color: #0099f6;}
.color-trek-green { color: #00b844;}
.bgcolor-trek-green {background-color: #00b844;}
.color-trek-grey { color: #b6b6b6;}
.bgcolor-trek-grey {background-color: #b6b6b6;}
.color-trek-dark-grey {color: #4d4b4b;}
.bgcolor-trek-dark-grey {background-color: #4d4b4b;}
.color-black {color: #000000;}
.color-white {color: #ffffff;}

.emoji {
  display: inline-block;
  vertical-align: text-bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.emoji-vulcan {
  background-image: url(../assets/emoji/live-long-and-prosper.png);
}

.emoji-communicator {
  background-image: url(../assets/emoji/communicator.svg);
}

.header {
  padding: 0px 50px;
  height: 100vh; /*TO DO: height: 90vh when there is more content*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__greetings {
    font-weight: 300;
    font-size: 1.5rem;
}


.header__subtext {
  max-width: 58.33rem;
  font-size: 1.5rem;
}

.header__subtext .me {
  font-weight: 700;
}

.header__contact {
  font-weight: 400;
  font-size: 1rem;
}


.header__scroll {
  display: none;
}

@media (min-width: 768px) {
  .emoji {
  }

  .header {
    padding: 0px 100px;
    height: 100vh;
  }

  .header__greetings {
      font-size: 2.5rem;
  }

  .header__greetings .emoji {
    vertical-align: text-top;
  }

  .header__subtext {
    font-size: 2.5rem;
  }

  .header__contact {
    font-size: 1.25rem;
    font-weight: 400;
  }

  .header__scroll {
    display: none; /*TO DO: dislay: block when there is more content*/
    padding-bottom: 24px;
  }

  .header__scroll a span {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 24px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  .header__scroll a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .header__scroll a span:nth-of-type(2) {
    margin-top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  .header__scroll a span:nth-of-type(3) {
    margin-top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) {

}
